.App {
  text-align: left;
  position: relative;
  left: 3vw;
  top: 2vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
}

#interactive-section-wrapper {
  display: grid;
  grid-template-columns: 65vw 35vw;
}

#field-add-btn-tbl-selector-wrapper {
  display: grid;
  grid-template-columns: 8vw 8vw;
  column-gap: 1vw;
  row-gap: 0.5vh;
}

.table-element {
  position: relative;
  left: 1.5vw;
}

.field-element {
  position: relative;
  left: 3vw;
}

#button-wrapper {
  display: grid;
  grid-template-columns: 7vw 12vw;
  column-gap: 1vw;
  row-gap: 2vh;
}
