.App {
  text-align: left;
  position: relative;
  left: 3vw;
}

#interactive-section-wrapper {
  display: grid;
  grid-template-columns: 65vw 35vw;
}

.table-name-section {
  position: relative;
  left: 1.5vw;
}

.field-name-section {
  position: relative;
  left: 3vw;
}

#button-wrapper {
  display: grid;
  grid-template-columns: 7vw 7vw;
  column-gap: 1vw;
  row-gap: 2vh;
}
